/* Generals */
:root {
  --bs-primary: #005cff;
  --bs-primary-rgb: 0, 92, 255;
  --bs-secondary: #6220c1;
  --bs-secondary-rgb: 98, 32, 193;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.fs-7 {
  font-size: 0.875rem !important;
}

/* Slider 1 */
.h-slider-1 {
  height: 300px !important;
}

.h-slider-1 h2 {
  font-size: calc(2rem + 1.5vw);
}

.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: #545454 !important;
}

.carousel-indicators .active {
  background-color: #005cff !important;
}

/* Get in Contact Section */
.get-in-contact-header {
  background-image: url(/src/img/avanti-sede.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 449px;
}

/* Footer mobile menu adjustments */
.accordion-button {
  background-color: var(--bs-tertiary-bg) !important;
}

.accordion-button::after {
  background-image: url(/src/img/accordion-arrow-button.svg) !important;
}

/* Media screen adjustments */
@media (min-width: 992px) {
  .bg-lg-transparent {
    background-color: transparent !important;
  }

  .w-lg-0 {
    max-width: fit-content !important;
  }

  /* Slider 1 */
  .h-slider-1 {
    height: 510px !important;
  }

  .h-slider-1 h2 {
    font-size: calc(5rem + 1.5vw);
  }

  /* Get in Contact Section */
  .get-in-contact-header {
    height: 600px;
  }

  .btn-submit-newsletter {
    max-width: 130px !important;
  }
}
